.coluna {
    height: 90%;
    width: 100%;
}

.minha-foto{
    text-align: center
}
.coluna:nth-child(2) {
    border-left: solid 2px #555555;  
}

.foto {
    float: right;
    height: 80px;
    width: 80px;
    border: solid 0px #555555;
    border-radius: 60px; 
    margin-inline-start: 20px;
   	margin-bottom: 10px;
}

img.displayed {
    display: block;
    margin-left: 50%;
    margin-right: 50% }
body {
    background-color: #555555;
    background: white 
    }

.container {
    /*height: 842px;
    width: 595px;*/
    border: dashed 1px #cccccc;
    background-color: #ffffff;
    padding: 50px;
    
}

.contato > p,
.habilidades > p  {
    text-align: left;
}

body {
    font-family: 'Mada', sans-serif;
}

p { 
    text-align: center
}
