.coluna {
    width: 100%;
}

.coluna:nth-child(2) {
    border-left: solid 2px #555555;
}

.primeira-linha {
    border-bottom: solid 2px #555555;
    margin-bottom: 30px;
}

.minha-foto {
    text-align: center;
    margin-bottom: 50px;
}

.meu-nome {
    text-align: left;
    font-size: 100px;
    padding-top: 50px;
}

.atualizado{
    text-align: right;
}
.curriculum{
    text-align: left;
}

.foto {
    float: right;
    height: 80px;
    width: 80px;
    border: solid 0px #555555;
    border-radius: 60px;
    margin-inline-start: 20px;
   	margin-bottom: 10px;
}

.displayed {
    display: block;
    margin-left: 50%;
    margin-right: 50%;
}

.container {
    /*height: 842px;
    width: 595px;*/
    border: dashed 1px #cccccc;
    background-color: #ffffff;
    padding: 50px;
}

.contato > p,
.habilidades > p {
    text-align: left;
}

body {
    font-family: 'Mada', sans-serif;
    background-color: #555555;
    background: white;
}

p {
    text-align: center;
}

h3:not(:first-child) {
    margin-top: 40px;
}
